html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#titulo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(121 118 199);
  margin: 0;
  color: whitesmoke;
  font-size: 1.7em;
  font-family: 'Nunito', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#mapa {
  position: absolute;
  width: 100vw;
  height: 99vh;
  display: inline-block;
}

.marcador {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-size: 100%;
}

#etiqueta {
  padding: 1em;
  position: absolute;
  // width: 20vw;
  height: fit-content;
  top: 100px;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  z-index: 99;
  visibility: hidden;
  pointer-events: none;
}

#imagen {
  width: 100%;
  height: auto;
  position: fixed;
  mix-blend-mode: color-burn;
  z-index: 99;
  visibility: hidden;
  pointer-events: none;
}
