html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#lienzo {
  background-color: #9002a5;
  ;
  height: 100vh;
  width: 100vw;
  z-index: 98;
  position: relative;
  opacity: 0.5;
  pointer-events: none;
  mix-blend-mode: darken;
  opacity: 0;
}

#titulo {
  text-align: center;
  margin: 0;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #fefbfb;
  color: #8067e7;
  font-family: mono;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99;
  opacity: 1;
  margin-left: 4%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 3%;
  font-weight: 900;
  font-size: 1.7em;
}

#mapa {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

.marcador {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-size: 100%;
}

#etiqueta {
  display: flex;
  padding: 2.2em 2em;
  position: absolute;
  width: 25%;
  height: fit-content;
  top: 38%;
  left: 37%;
  background-color: #7976c7;
  color: white;
  border-radius: 10px;
  z-index: 99;
  visibility: hidden;
  pointer-events: none;
  font-family: monospace;
  font-size: 1.1em;
  opacity: 0.9;
  font-weight: bold;
  pointer-events: auto;

  a:hover {
    color: black;
  }
}

.imagen {
  width: 100%;
  height: auto;
  position: fixed;
  mix-blend-mode: color-burn;
  z-index: 98;
  visibility: hidden;
  pointer-events: none;
  opacity: 0.9;
}

#hechos {
  font-style: italic;
  padding-top: 1em;
}

#cerrar {
  cursor: pointer;
  color: white;
  position: relative;
  margin-top: -5%;
  left: 100%;
  pointer-events: auto;
  pointer-events: auto;
  font-size: larger;
}

#cerrar:hover {
  color: black;
}

@media only screen and (max-width: 600px) {
  #titulo {
    font-size: 1.2em;
    margin: 4%;
  }

  #etiqueta {
    display: flex;
    padding: 2.2em 2em;
    position: absolute;
    width: 85%;
    height: fit-content;
    top: 25%;
    left: 7%;
  }

  .imagen {
    width: auto;
    height: 60%;
    left: -45%;
    top: 10%;
  }
}