html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#titulo {
  margin-top: 3vh;
  text-align: center;
}

#mapa {
  position: absolute;
  margin-top: 1vh;
  width: 100vw;
  height: 99vh;
  display: inline-block;
}

.marcador {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.etiqueta {
  padding: 1em;
  position: absolute;
  width: 30vh;
  height: fit-content;
  top: 100px;
  left: 100px;
  background-color: whitesmoke;
  border-radius: 10px;
}